<div class="container mx-auto pt-5">
  <h1 class="text-6xl font-normal leading-normal mt-0 mb-2 text-pink-800">Page#home</h1>
  <p class="text-base font-light leading-relaxed mt-0 mb-4 text-green-800">Hello!</p>
</div>

